:root {
    --primary-color: #28a745;
    --secondary-color: #218838;
}

body {
    background-color: #f4f7fc;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-bottom: 30px;
}

.card-header {
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
}

.btn-success {
    background-color: var(--primary-color);
    border: none;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s ease;
    padding: 5px 5px;
    font-size: 16px;
    border-radius: 8px;
    width: 17%;
}

.btn-success:hover {
    background-color: var(--secondary-color);
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    font-size: 14px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-control, .form-select {
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-section {
    margin-top: 40px;
}

.form-section-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #34495e;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 768px) {
    .two-columns {
        grid-template-columns: 1fr;
    }
}

input {
    max-width: 400px;
}

select {
    max-width: 400px;
}

.allergens-container {
    margin-top: 20px;
}

.category {
    cursor: pointer;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.category .subcategory {
    display: none;
    margin-left: 20px;
}

.subcategory input {
    margin-right: 5px;
}

.toggle-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.toggle-switch input {
    width: 50px;
    height: 25px;
    cursor: pointer;
}

.allergy-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.allergy-toggle .switch:before {
    content: "nie";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #777;
}

.allergy-toggle .switch:after {
    content: "tak";
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: #000;
}

.toggle-icon {
    font-size: 18px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.toggle-icon.open {
    transform: rotate(90deg);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-left: 8px;
    font-size: 1rem;
}

input[type="radio"] {
    margin-right: 10px;
}

.syf {
    font-size: 16px;
    margin-top: 6px;
    padding: 10px;
    font-weight: bold;
}
